:root {
    --primary-color: rgb(33, 33, 33);
    --secondary-color: rgb(29, 29, 29);
    --font-color: rgb(150, 150, 150);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: rgb(33, 33, 33);
        --secondary-color: rgb(29, 29, 29);
        --font-color: rgb(212, 212, 212);
    }
}

* {
	font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

html, body, #app {
    margin: 0;
    padding: 0;
	background: var(--primary-color);
    color: var(--font-color);

    height: 100%;
    width: 100%;
    box-sizing: border-box;
}